* {
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
margin: 0;
height: 100vh;
overflow: hidden;
background: black;
}


/* Animated background */
.background {
position: fixed;
width: 200%;
height: 200%;
background: radial-gradient(black 1px, transparent 1px), red;
background-size: 40px 40px;
animation: move 20s linear infinite;
z-index: -1;
}


@keyframes move {
from { transform: translate(0, 0); }
to { transform: translate(-200px, -200px); }
}


.card {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #111;
padding: 30px;
border-radius: 10px;
width: 300px;
box-shadow: 0 0 20px rgba(0,0,0,0.8);
text-align: center;
color: white;
}


input {
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 5px;
border: none;
}


button {
width: 100%;
padding: 10px;
background: red;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
}


button:hover {
background: darkred;
}
}
